{% extends 'operator/layout.html.twig' %}

{% block title %}
	Anı Yazılarım
{% endblock %}

{% block content %}
	<div class="flex justify-between">
		<h1 class="mb-5">Anı Yazılarım</h1>
		<div>
			<a href="{{ path('student_memoir_write', {'receiverId': app.user.id}) }}" class="btn btn-primary">Kendim İçin</a>
		</div>
	</div>

	{{ form_start(form, {'attr': {'class': 'inline-flex gap-3 mb-3'}}) }}
        {{ form_widget(form.classroom, {'attr': {'class': 'form-widget'}}) }}
        <button type="submit" class="btn btn-primary">Getir</button>
	{{ form_end(form) }}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} mb-5">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<table class="table mb-4">
		<thead>
			<tr>
				<th>Gönderen</th>
				<th>Alan</th>
				<th>Yazı</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for memoir in memoirs %}
				<tr>
					<td>
						{{ memoir.sender.schoolNumber }}
						{{ memoir.sender.name }}
						{{ memoir.sender.surname }}
					</td>
					<td>
						{{ memoir.receiver.schoolNumber }}
						{{ memoir.receiver.name }}
						{{ memoir.receiver.surname }}
					</td>
					<td>
						{{ memoir.text }}
					</td>
					<td class="text-right">
						<form method="post" action="{{ path('operator_memoir_delete', {'id': memoir.id}) }}" onsubmit="return confirm('{% trans %}buttons.delete.confirm{% endtrans %}');" class="inline-block">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ memoir.id) }}">
							<button class="btn btn-danger">{% trans %}buttons.delete.label{% endtrans %}</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">{% trans %}no_record{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ render(controller('App\\Controller\\PaginatorController::index', {'paginator': students, 'paginatorPerPage': paginatorPerPage})) }}
{% endblock %}
