{% extends 'base.html.twig' %}

{% block body %}
	<div class="fixed inset-y-0 left-0 bg-gray-800 w-72">
		<div class="p-8">
			<a href="{{ path('admin_dashboard') }}">
				<img src="{{ asset('logo-3.svg') }}" alt="">
			</a>
		</div>
		<nav>
			<ul class="pl-8">
				<li>
					<a href="{{ path('admin_dashboard') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Anasayfa</a>
				</li>
				<li>
					<a href="{{ path('admin_school_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Okullar</a>
				</li>
				<li>
					<a href="{{ path('admin_download_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">İndirmeler</a>
				</li>
				<li>
					<a href="{{ path('admin_category_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Kategoriler</a>
				</li>
				<li>
					<a href="{{ path('admin_product_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Ürünler</a>
				</li>
				<li>
					<a href="{{ path('admin_order_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Siparişler</a>
				</li>
				<li>
					<a href="{{ path('admin_announcement_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Duyurular</a>
				</li>
                <li>
					<a href="{{ path('app_admin_yearbook_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Yıllıklar</a>
				</li>
				<li>
					<a href="{{ path('admin_dealer_index') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Bayiler</a>
				</li>
				<li>
					<a href="{{ path('admin_security_logout') }}" class="block hover:bg-gray-100 py-5 pl-8 border-l-8 border-gray-800 hover:border-yellow-500 text-white hover:text-gray-800 uppercase tracking-widest">Çıkış</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="pl-72">
		<div class="px-6 py-10">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
