{% extends 'school/layout.html.twig' %}

{% set title = 'classroom.titles.index'|trans %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="flex justify-between mb-5">
		<div>
			<h1>{{ title }}</h1>
		</div>
		<div>
			<a href="{{ path('school_classroom_new') }}" class="btn btn-primary">{% trans %}buttons.new.label{% endtrans %}</a>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}classroom.labels.name{% endtrans %}</th>
				<th>{% trans %}classroom.labels.students{% endtrans %}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for classroom in classrooms %}
				<tr>
					<td>
						{{ classroom.name }}
					</td>
					<td>
						<a href="{{ path('school_student_index', {'form': {'school': classroom.school.id, 'classroom': classroom.id}}) }}">{{ classroom.students|length }}</a>
					</td>
					<td class="text-right">
						<a href="{{ path('school_classroom_edit', {'id': classroom.id}) }}" class="btn btn-light">{% trans %}buttons.edit.label{% endtrans %}</a>
						{{ include('school/classroom/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">{% trans %}no_record{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
