{{ form_start(form) }}
    {{ form_row(form.image) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <button class="btn btn-primary">{% trans %}buttons.save.label{% endtrans %}</button>
{{ form_end(form) }}
