{% extends 'base.html.twig' %}

{% block title %}Announcement{% endblock %}

{% block body %}
    <h1>Announcement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announcement.id }}</td>
            </tr>
            <tr>
                <th>ImageFilename</th>
                <td>{{ announcement.imageFilename }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ announcement.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ announcement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_announcement_index') }}">back to list</a>

    <a href="{{ path('admin_announcement_edit', {'id': announcement.id}) }}">edit</a>

    {{ include('admin/announcement/_delete_form.html.twig') }}
{% endblock %}
