{% extends 'admin/layout.html.twig' %}

{% set title = 'Genel Yetkiler' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="flex justify-between mb-5">
		<div>
			<h1>{{ title }}</h1>
		</div>
	</div>

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} mb-3">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	{{ form_start(form) }}
	<div class="flex flex-col gap-4 mb-4">
		{% for permission in form.permissions %}
			{{ form_row(permission.allowed, {'label': 'download.types.' ~ permission.vars.data.id, 'row_attr': {'class': 'flex justify-between items-center'}}) }}
		{% endfor %}
	</div>
	<button type="submit" class="btn btn-primary">{% trans %}buttons.save.label{% endtrans %}</button>
	{{ form_end(form) }}
{% endblock %}
